html
{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 3, 213);
}

.cont
{
    display: flex;
}

.circle
{
    height: 900px;
    width: 300px;
    border-radius: 300px;
    background-color: rgba(0, 0, 255, 0.17);
    background-position-x: left;
}

.square
{
    height: 300px;
    width: 300px;
    padding-top: 300px;
    background-color: red;
}


@keyframes crazy {
    from
    {
        transform: scaleX(4);
    }

    to
    {
        transform: scaleY(-3);
    }
}

.bonjour
{
    width:50px;
    height:50px;
    border-radius: 300px;
    background-color: greenyellow;
    /* animation-name: crazy;
    animation-duration: 2s;
    animation-play-state:; */
    animation: 4s linear 0s infinite alternate crazy;
}

p
{
    width: 25px;
    margin: auto;
}

p:active
{
    display: none;
}

/* 



*/

section {
    animation-duration: 3s;
    animation-name: cat;
}

@keyframes cat {
    from {
        margin-left: 100%;
        width: 300px;
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360eg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
 }
}
to {
     margin-left: 0%;
     width: 100%;
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
     transform: rotate(360deg);

 }

 img {
     border-radius: 300px;
     width: 100;
     height: 100;
     rotate: 360deg;
}
.cat {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

@keyframes road {
 
0% {
    background-position: 0 0;
}
50% {
 transform: rotate(90deg);
 width: 600px;
 height: 600px;
}
100% {
    background-position: 5000px 0;
    transform: rotate(0deg);
    width: 300px;
    height: 300px;
}
}

.road {
    width: 300px;
    height: 300px;
    bottom: 0;
    margin: 0 auto;
    animation: road 5s  cubic-bezier(0.68, -0.6, 0.32, 1.6)
    infinite;
    background-image: url(illu.jpeg);
    background-size: 200%;
    border-radius: 50%;
    animation-delay: -2s;
    perspective: 800px;
}