html
{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 3, 213);
}

.cont
{
    display: flex;
}

.circle
{
    height: 900px;
    width: 300px;
    border-radius: 300px;
    background-color: rgba(0, 0, 255, 0.17);
    background-position-x: left;
}

.square
{
    height: 300px;
    width: 300px;
    padding-top: 300px;
    background-color: red;
}


@keyframes crazy {
    from
    {
        transform: scaleX(4);
    }

    to
    {
        transform: scaleY(-3);
    }
}

.bonjour
{
    width:50px;
    height:50px;
    border-radius: 300px;
    background-color: greenyellow;
    /* animation-name: crazy;
    animation-duration: 2s;
    animation-play-state:; */
    animation: 4s linear 0s infinite alternate crazy;
}

p
{
    width: 25px;
    margin: auto;
}

p:active
{
    display: none;
}