.lds-dual-ring {
    display: block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 60px;
    height: 60px;
    margin: 40px;
    border-radius: 50%;
    border: 10px solid rgb(0, 0, 0,0.1);
    border-bottom-color: violet  ;
    border-top-color: blueviolet  ;
    animation: lds-dual-ring 1.4s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(360deg);
    }
    25%{
        transform: rotate(0deg);

    }
    50%{
        transform: rotate(-360deg);

    }
    75%{
        transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }