html
{
    margin: 0px;
    background-image: url("https://thumbs.dreamstime.com/b/red-swirl-background-poster-design-template-abstract-poster-vector-illustration-red-swirl-background-poster-design-template-vector-147941007.jpg");
}

.salut
{
    width: 900px;
    height: 600px;
    color: red;
    display: flex;
    margin: auto;
    font-size: 50px;
    transform: scale(1);
    text-decoration: none;
    transition-property: transform;
    transition-duration: 2s;
    background-image: url("https://i.ytimg.com/vi/k18GhSbCFuU/maxresdefault.jpg");
}

span
{
    display: none;
}

.salut:hover {
    transform: scale(2);
    padding-top: 700px;
}

 .salut:hover span
 {
     display: block;
 }

.salut:active
{
    transform:rotateX(60deg);
}

@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

body {
    font-family: 'Amatic SC', sans-serif;
}


section {
    animation-duration: 3s;
    animation-name: cat;
}

@keyframes cat {
    from {
        margin-left: 100%;
        width: 300px;
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360eg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
 }
}
to {
     margin-left: 0%;
     width: 100%;
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
     transform: rotate(360deg);

 }

 img {
     border-radius: 300px;
     width: 100;
     height: 100;
     rotate: 360deg;
}
.cat {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

@keyframes road {
 
0% {
    background-position: 0 0;
}
50% {
 transform: rotate(90deg);
 width: 400px;
 height: 600px;
}
100% {
    background-position: 5000px 0;
    transform: rotate(0deg);
    width: 300px;
    height: 350px;
}
}

.road {
    position: fixed;
    width: 300px;
    height: 300px;
    bottom: 0;
    margin: 0 auto;
    animation: road 5s  cubic-bezier(0.68, -0.6, 0.32, 1.6)
    infinite;
    background-image: url(illu.jpeg);
    background-size: 200%;
    border-radius: 50%;
    animation-delay: -2s;
    perspective: 800px;
}